




.wrapper {
  min-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  margin: 0 auto;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  max-width: 945px;
  color: #fff;
  text-align: center;
}


.content {
  flex: 1 1 auto;
}



