<div class="fruits">
    <div class="fruits__input">
        <input type="text" [(ngModel)]="userInput">
    </div>
    <div class="item" *ngFor="let fruit of (fruits | fruitFilter : userInput)" >
        {{fruit.color}}  {{fruit.taste}}
    </div>
</div>
<br>

<div class="dollars__input">
  Сумма в долларах $ <br>
  <input type="text" [(ngModel)]="userCount">
  <br>
  {{userCount | dollar}}
</div>
<div class="item">
</div>

<br>
<a routerLink="/redesign">boom</a>
<br>

<br>
<a routerLink="/profile">baah</a>
<br>

<br>
<ng-container >
<div class="joke" *ngIf="joke">
    RANDOM JOKE OF THE DAY: {{joke.category}} {{joke.type}} <br> {{joke.joke}} <br> A: {{joke.setup}} <br> B: {{joke.delivery}}
    <br>
    <button (click)="newJoke()">new joke</button>
</div>

</ng-container>
