
<mat-card>
<p>User's Profile</p>

<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Borsch">
  </mat-form-field>
</form>
  <form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="For your letters =)"></textarea>
  </mat-form-field>
</form>

<mat-slide-toggle>Slide me!</mat-slide-toggle>
<!--
<h4>Basic mat-select</h4>
<mat-form-field appearance="fill">
  <mat-label>Favorite food</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
-->
<h4>Basic native select</h4>
<mat-form-field appearance="fill">
  <mat-label>Cars</mat-label>
  <select matNativeControl required>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
</mat-form-field>
<br>
<button mat-stroked-button color="accent">Primary</button>
<p>Simple card</p>
<p>profile works!</p>
<P>Really works!</P>
<p>Magica!</p>
</mat-card>
