.header{
  background-color: #414640;
}

.container {
  margin: 0 auto;
  padding: 0px 0px;
  max-width: 915px;
}
.header__row {
  display: flex;
  justify-content: space-between;
  min-height: 60px;
  background-color: #414640;
  max-width: 945px;
}

.header__title {
  font-weight: 900;
  word-spacing: -4px;
  font-size: 18px;
  padding: 17px 0;
}

.user__circle {
  border: 22px solid #323232;
  border-radius: 100%;
  margin: 8px 0 0 0;
}

.user__name {
  font-weight: 500;
  text-transform: uppercase;
}
